.rdp {
  background-color: #feca57;
  border-radius: 1rem;
  padding: 0.3rem;
  box-shadow: 0 0 0.4rem #f4b537;
  --rdp-background-color: #2e86de;

  @media screen and (max-width: 767px) {
    width: 70dvw;
  }
}

.rdp-day_selected:hover {
  background-color: #ff6b6b;
}

.rdp-day_selected {
  background-color: #54a0ff;
}

.dialog-sheet {
  z-index: 99;
}

.rdp-cell,
.rdp-head_cell {
  @media screen and (max-width: 767px) {
    font-size: 1.6rem;
  }
}
